src/main/java/com/example/demo/service/product.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.demo.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.demo.example.com/" name="ProductServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.demo.example.com/" schemaLocation="http://localhost:8080/ws/product?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getDetail">
<part name="parameters" element="tns:getDetail"/>
</message>
<message name="getDetailResponse">
<part name="parameters" element="tns:getDetailResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="sellProduct">
<part name="parameters" element="tns:sellProduct"/>
</message>
<message name="sellProductResponse">
<part name="parameters" element="tns:sellProductResponse"/>
</message>
<portType name="ProductService">
<operation name="save">
<input wsam:Action="http://service.demo.example.com/ProductService/saveRequest" message="tns:save"/>
<output wsam:Action="http://service.demo.example.com/ProductService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getDetail">
<input wsam:Action="http://service.demo.example.com/ProductService/getDetailRequest" message="tns:getDetail"/>
<output wsam:Action="http://service.demo.example.com/ProductService/getDetailResponse" message="tns:getDetailResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://service.demo.example.com/ProductService/getListRequest" message="tns:getList"/>
<output wsam:Action="http://service.demo.example.com/ProductService/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="sellProduct">
<input wsam:Action="http://service.demo.example.com/ProductService/sellProductRequest" message="tns:sellProduct"/>
<output wsam:Action="http://service.demo.example.com/ProductService/sellProductResponse" message="tns:sellProductResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductServiceService">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:8080/ws/product"/>
</port>
</service>
</definitions>